{{- $email := promptStringOnce . "email" "Git email" -}}
{{- $name  := promptStringOnce . "name"  "Your name" -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[diff]
  exclude = ["dirs"]

[status]
  exclude = ["dirs"]

[data]
  email = {{ $email | quote }}
  name  = {{ $name  | quote }}
