# =============================================================================
# Colors
# =============================================================================
foreground                      #BBBBBB
background                      #191919
selection_foreground            #BBBBBB
selection_background            #404040
cursor                          #C9C9C9
cursor_text_color               #191919
active_tab_foreground           #BBBBBB
active_tab_background           #65435E
inactive_tab_foreground         #BBBBBB
inactive_tab_background         #303030
# black
color0  #191919
color8  #3D3839
# red
color1  #DE6E7C
color9  #E8838F
# green
color2  #819B69
color10 #8BAE68
# yellow
color3  #B77E64
color11 #D68C67
# blue
color4  #6099C0
color12 #61ABDA
# magenta
color5  #B279A7
color13 #CF86C1
# cyan
color6  #66A5AD
color14 #65B8C1
# white
color7  #BBBBBB
color15 #8E8E8E

# =============================================================================
# Cursor
# =============================================================================
cursor_shape beam
cursor_trail 1

# =============================================================================
# Window
# =============================================================================
window_margin_width 21.75
window_padding_width 8 15 8 15
confirm_os_window_close 0
enable_audio_bell no
scrollback_lines 100000
allow_remote_control yes
editor .

# =============================================================================
# Mouse
# =============================================================================
mouse_map left click no_op
mouse_map left doubleclick no_op

# =============================================================================
# Clipboard
# =============================================================================
map ctrl+c copy_or_interrupt
map ctrl+v paste_from_clipboard

# =============================================================================
# scrolling
# =============================================================================
map page_up   scroll_page_up
map page_down scroll_page_down

# =============================================================================
# Keycodes
# =============================================================================

# Send codes for tmux ctrl+tab
map ctrl+shift+tab send_text all \x1b[27;6;9~
map ctrl+tab       send_text all \x1b[27;5;9~

# Disable reload config shortcut (conflicts with tmux)
map ctrl+shift+r no_op

# =============================================================================
# Font zoom
# =============================================================================
map ctrl+plus        change_font_size all +1
map ctrl+equal       change_font_size all +1
map ctrl+kp_add      change_font_size all +1
map ctrl+minus       change_font_size all -1
map ctrl+underscore  change_font_size all -1
map ctrl+kp_subtract change_font_size all -1
map ctrl+0           change_font_size all 0
map ctrl+kp_0        change_font_size all 0

# =============================================================================
# OS-Specific
# =============================================================================
{{ if eq .chezmoi.os "darwin" -}}
# --- macOS ---
font_family      FiraMono Nerd Font Mono
font_size        15.0
bold_font        auto
italic_font      auto
bold_italic_font auto
font_features    +liga
enable_ligatures true

shell zsh --login -c "if command -v tmux >/dev/null 2>&1; then tmux attach || tmux; else zsh; fi"

hide_window_decorations titlebar-only
background_opacity 0.8
background_blur 6
{{ else -}}
# --- Linux ---
font_family      JetBrains Mono Nerd Font
font_size        11.0

shell /usr/bin/zsh --login -c "if command -v tmux >/dev/null 2>&1; then tmux attach || tmux; else zsh; fi"

# Search kitten
map ctrl+f      launch --location=hsplit --allow-remote-control kitty +kitten search.py @active-kitty-window-id
map kitty_mod+f launch --location=hsplit --allow-remote-control kitty +kitten search.py @active-kitty-window-id

{{ end -}}
