* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(30, 30, 46, 0.95);
    color: #cdd6f4;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0 10px;
    color: #cdd6f4;
    background-color: transparent;
    border-radius: 0;
}

#workspaces button:hover {
    background: rgba(137, 180, 250, 0.2);
}

#workspaces button.active {
    background-color: #89b4fa;
    color: #1e1e2e;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #tray {
    padding: 0 10px;
    margin: 0 3px;
}

#battery.charging {
    color: #a6e3a1;
}

#battery.warning:not(.charging) {
    color: #f9e2af;
}

#battery.critical:not(.charging) {
    color: #f38ba8;
}

